doctype html
html(lang='en')
    head
        link(rel="stylesheet" href="home.css")
        title Home Page using pug
    body 
        h1 Home Page
        div.active Active Page Class
        div#product Product Page 
         
        div mobiles #{mobile}  
        h2 cloths #{cloths}

        -const numbers = [1,2,3,4,5,6,7]
            each num in numbers 
                div= `number is ${num}`

        -const friendsList = ["Rohit", "Anuj", "Amit", "Shirsh", "Shivam"]
            each name,i in friendsList 
                h3(style={ color: 'red'})= `my friends name is ${name} and index is ${i}`  

                //- looping in object with conditionals
        -const userInfo = {username: 'Abhinav', add: 'India'}
            each val,key in userInfo
                if key === 'username'
                h3= `user is ${val}`
                if key === 'add'
                h3= `address is ${val}`

        br
        //- if else conditionals
        -const isloggedIn =true 
        if isloggedIn && name==='Abhinav'
            div welcome #{name}
            div= `Welcome using literals ${name}`
        else 
            div Welcome user

        //- switch cases
        -const add = 'India'
        case add
            when 'India'
                h1 Indian
            when 'USA'
                h1 American
            default
                h2 default

